/.venv
/.vscode
/venv
/data
/ORDINANCE.ini
/ord_play
/view
/ssh_key
/__pycache__
/tmp
make_venv.bat
checksums.ini
load_venv.bat
inputs.txt
*.db
*.backup
apptest1.py
Client.ini
motd.txt
ipbans.txt
post_data_logs.txt
chat_logs.txt
test2.py
test3.py
admins.ini
requirements.txt.old
uninstall_pkg.txt
audit_logs.txt
