<!DOCTYPE html>
<html>
    <h1>ADMIN PANEL</h1>
        <p>ORD_ADMIN:
            <ul>
                <li><a href="/ord/chat/admin">CHATBOT</a></li>
                <li><a href="/admin/users">Users</a></li>
                <li><a href="/admin/tokens">Tokens</a></li>
                <li><a href="/admin/ordinance_ui">Ordinance UI</a></li>
                <li><a href="/admin/video_data">Video Data</a></li>
                <li><a href="/admin/users/password?user={{ username }}">Change Password</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </p>
</html>