<!DOCTYPE html>
<html>
    <form method="post">
        Inputs : <input name="inputs" value="{{ inputs }}"/>
        <button type="submit" class="btn-add" name="submit-btn" value="sub1">Submit</button>
    </form>
    <form method="post">
        Mode : <input name="mode" value="{{ mode }}"/>
        <button type="submit" class="btn-add" name="submit-btn2" value="sub2">Submit</button>
    </form>
    <form method="post">
        Pawn State : <input name="state" value="{{ state }}"/>
        <button type="submit" class="btn-add" name="submit-btn3" value="sub3">Submit</button>
    </form>
    <li><a href="/ord/input/render">RENDER</a></li>
</html>